
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Department", "Save", "Department")</li>
        <li>@Html.ActionLink("View Department", "ViewDepartment", "ViewDeparment")</li>
        <li>@Html.ActionLink("Save Course", "Save", "Course")</li>
        <li>@Html.ActionLink("Save Teacher", "Save", "Teacher")</li>
        <li>@Html.ActionLink("Course Assign", "Assign", "AssignCourse")</li>
        <li>@Html.ActionLink("View Course", "Show", "ViewCourse")</li>
        <li>@Html.ActionLink("Register Student", "Register", "RegisterStudent")</li>
        <li>@Html.ActionLink("Allocate Class", "Allocate", "AllocateClassroom")</li>
        <li>@Html.ActionLink("Class Schedule", "Show", "ClassScheduleAndRoomAllocation")</li>
        <li>@Html.ActionLink("Save Result", "Save", "SaveStudentResult")</li>
    </ul>
</div>
</body>
</html>
